- form_for :page_view_tag, @tag, :url => page_view_tags_path, :builder => LabeledFormBuilder, :html => { :id => 'create_tag', :class => 'module', :multipart => true } do |f|
  = render :partial => "fields", :locals => { :f => f }
  
