/*	Main Styles
	...................................................................... */

body { background:black;font-family:Trebuchet MS, sans-serif; font-size:100%;}

/*.container {background-color:white; -moz-border-radius:10px;-webkit-border-radius:5px;margin-top:90px;padding:20px;}
*/
.container h1 a#logo {font-size:0;}

.container #sub-container {background-color:white; -moz-border-radius:10px;-webkit-border-radius:5px;padding:20px;float:left;}

.container #sub-container #sub-container-back {background:#d4d4d4;float:left;padding:5px;margin-left:10px;}

a {color:#89cfe7; font-weight:bold;}

li {list-style-type:none;}

th {text-transform:uppercase;}


/*	Logo
	...................................................................... */

a#logo {background:url('../images/logo.png');width:320px;height:110px;display:block;}


/*	Top Nav
	...................................................................... */

.container #top-nav {height:60px;background:url('../images/backgrounds/background-nav.png')no-repeat;}

.container #top-nav ul {margin-left:166px;}

.container #top-nav ul li {float:left;}

.container #top-nav ul li a {padding-top:5px;display:block;}

.container #top-nav ul li.search {margin-right:175px;}

.container #top-nav ul li.logout {float:right;}


/*	Left Nav
	...................................................................... */
 
.container #left-nav {}


/*	Module
	...................................................................... */

.container .module {background:white;}

.container .module ul  {padding:0;list-style-position:outside;padding:7px 5px;}

.container .module h3 {text-transform:uppercase;font-size:17px;font-weight:bold;border-bottom:1px solid #e4e3e3;padding:7px 5px;margin-bottom:0;}


/*	Main Table
	...................................................................... */

.container #main table th {background: white url('../images/gradients/gradient-table-heading.png') repeat-x; border:1px solid #dddddd;}

.container #main table tr.odd td {background:white;}

.container #main table tr.even td {background:#f0fbff;}


/*	Inputs
	...................................................................... */

input {  font-size:18px;height:22px;margin:6px 0 0 0 !important;}

input#search-btn {background:url('../images/icons/icon-magnifying-glass.png') 0 3px no-repeat; border:none; width:25px;}

/*
input[type="hidden"] {display:none !important;}
*/

/*	Login
	...................................................................... */

#login {-moz-border-radius:10px;-webkit-border-radius:10px;border:1px solid #eaeaea;background:url('../images/gradients/gradient-login.png') repeat-x;width:365px;margin-left:auto;margin-right:auto;}

#login form {margin-left:auto;margin-right:auto;}

#login input {display:block;}