/********  All Pages ********/

body {
  background:#DEDEDE;
  font-family:"Lucida Sans Unicode","Lucida Grande",Sans-Serif;
  font-size:11px;
}

#page {
  background:white;
  margin:0 auto;
  padding:20px 20px 50px 20px;
  width:975px;
  -moz-border-radius-bottomleft:10px;
  -moz-border-radius-bottomright:10px;
  -webkit-border-bottom-left-radius:10px;
  -webkit-border-bottom-right-radius:10px;
}

#main {
  clear:both;
}

#main_head h1 {
  float:left;
}

#main_head a {
  float:right;
}

.hidden {
  display:none;
}

.rounded {
  -moz-border-radius-bottomleft:10px;
	-moz-border-radius-bottomright:10px;
	-moz-border-radius-topleft:10px;
	-moz-border-radius-topright:10px;
  -webkit-border-bottom-left-radius:10px;
  -webkit-border-bottom-right-radius:10px;
  -moz-border-top-left:10px;
  -moz-border-top-right:10px;
  padding:20px;
}

.module {
  background:white;
  border:5px solid #8B9EDF;
}

.button {
  -moz-border-radius-bottomleft:5px;
	 -moz-border-radius-bottomright:5px;
	 -moz-border-radius-topleft:5px;
	 -moz-border-radius-topright:5px;
   -webkit-border-bottom-left-radius:5px;
   -webkit-border-bottom-right-radius:5px;
   -webkit-border-top-left-radius:5px;
   -webkit-border-top-right-radius:5px;
   background:#8B9EDF;
	 border:2px solid black !important;
	 color:#333333;
	 cursor:pointer;
	 display:block;
	 font-family:Helvetica,Arial,Sans-serif;
	 font-size:18px !important;
	 font-variant:normal;
	 font-weight:bold;
	 line-height:normal;
	 outline-color:-moz-use-text-color;
	 outline-style:none;
	 outline-width:medium;
	 padding:8px 10px;
	 text-align:center;
	 text-decoration:none;
	 text-shadow:0 1px 0 #DDFF66;
	 width:200px;
}

input {
  border:1px solid #838383;
  color:#404048;
  display:block;
  font-size:1.8em;
  margin-bottom:0.8em;
  padding:0.2em;
}

input[type="hidden"] {
  display:none;
}

label {
  font-size:1.6em;
}

h1 {
	font-weight:bold;
	font-size:1.9em;
}

h2 {
  font-weight:bold;
	font-size:1.7em;
}

strong {font-weight:bold;}

/********  Typography ********/

span, a, p, li {
  font-size:1.4em;
}

/********  Header ********/

#header {
  height:50px;
  margin:0 auto;
}

#header ul {
  margin-top:20px;
}

#header ul li {
  float:left;
  margin-right:20px;
}

/********  Errors ********/

#errorExplanation {
  background-color:#F0F0F0;
  border:2px solid red;
  margin-bottom:20px;
  padding:7px 7px 12px;
}

#errorExplanation h2 {
  background-color:#CC0000;
  color:#FFFFFF;
  font-size:1.6em;
  font-weight:bold;
  margin:-7px;
  padding:5px 5px 5px 15px;
  text-align:left;
}

#errorExplanation p {
  color:#333333;
  margin-bottom:0;
  padding:5px;
}

/********  Forms ********/


form label {
  float:left;
  display:block;
  width:140px;
}

/********  Table ********/

table {
  border-collapse:collapse;
  clear:both;
  margin-top:10px;
  font-size:1.6em;
  width:100%;
  text-align:left;
}

table th {
  background-color:#B9C9FE;
  color:#003399;
  
  font-weight:normal;
  padding:10px 10px 10px 20px;
}

table th.left {
  -moz-border-radius-topleft:10px;
  -webkit-border-top-left-radius:10px;
}

table th.right {
  -moz-border-radius-topright:10px;
  -webkit-border-top-right-radius:10px;
}

table td {
  background:#E8EDFF none repeat scroll 0 0;
  border-top:1px solid #FFFFFF;
  color:#666699;
  padding:10px 10px 10px 20px;
}

table tr:hover td {
  background:#D0DAFD none repeat scroll 0 0;
}

table tfoot td.left {
   -moz-border-radius-bottomleft:10px;
   -webkit-border-bottom-left-radius:10px;
}

table tfoot td.right {
   -moz-border-radius-bottomright:10px;
   -webkit-border-bottom-right-radius:10px;
}

table td .delete{
  background: url('../images/icons/delete.png') no-repeat center center;
  color:transparent;
}

/********  Edit Tag Page ********/

form.edit_tag {
/*  border-bottom:1px dotted black;*/
	padding-bottom:20px;
	margin-bottom:20px;
	overflow:hidden;
	width:666px;
}

/**** Flashes ***/

.flash {
	border: dotted 3px #999;
	padding: 5px;
	margin-bottom: 10px;
}

.flash_error {
	border: dotted 3px red;
}

.flash_notice, .flash_message {
	border: dotted 3px green;
}

.flash_warning {
	border: dotted 3px orange;
}

/**** Some Form Stuff *****/
.input_error {
  border:3px solid red;
}

/**** Login Page ****/

#intro h1 {
  font-size:2.4em;
  margin-bottom:20px;
  text-transform:uppercase;
}

#login {
  color:black;
  font-weight:bold;
}

#login #user_session_submit {
  margin-left:139px;
  margin-top:10px;
}

/**** Show Tag Page ****/

#tag {
  margin-bottom:20px;
}

ul li .label {
	width: 200px;
	font-size: 1.5em;
}

ul li .value {
	font-size: 1.5em;
	margin-bottom: 10px;
}

table {
	margin-bottom: 15px;
}