.form_row {
	border-bottom:1px solid gray;
	clear:both;
	float:left;
	padding:1em 0 1em 0;
	width:20em;
}

.form_row.last {
	border-bottom:none;
}

.form_row label {
	display:block;
	float:left;
	width:5em;
}

.form_row input,
.form_row select {
	float:right;
}