%h3== Edit #{h @tag.hook}

- form_for :tag, @tag, :url => @tag, :builder => LabeledFormBuilder, :html => { :id => 'create_tag', :class => 'rounded module', :multipart => true, :method => :put } do |f|
  = render :partial => "fields", :locals => { :f => f }
  