%h1== Create a new tag for #{@product.name}

- form_for :tag, @tag, :url => tags_path, :builder => LabeledFormBuilder, :html => { :id => 'create_tag', :class => 'rounded module', :multipart => true } do |f|
  = render :partial => "fields", :locals => { :f => f }
  
